ul {
  list-style: none !important;
  @apply pl-1;
}

ul > li {
  /* 使用 grid 或 flex 确保内容垂直居中，min-h 确保容器至少有图标那么大 */
  @apply relative pl-5 min-h-4 text-justify;
  isolation: isolate;
}

/* 蓝色圆圈底色 */
ul > li::before {
  content: "";
  /* 关键修改：使用 top-0.5em 并配合 translate 确保相对于第一行文字对齐 */
  @apply absolute left-0 w-4 h-4 bg-primary rounded-full;
  top: 0.15em; 
}

/* 白色对钩图标 */
ul > li::after {
  content: "";
  @apply absolute left-0 w-4 h-4 i-material-symbols:check bg-white;
  top: 0.15em;
}

ol {
  @apply list-none p-0 m-0; /* 清除默认样式 */
  counter-reset: academic-counter; /* 重置计数器 */
}

ol > li {
  @apply relative pl-5;
  counter-increment: academic-counter; /* 递增计数器 */
}

ol > li::before {
  /* 注入计数器内容 */
  content: counter(academic-counter, decimal-leading-zero); 
  
  /* 样式控制：粗体、衬线字体、深色强调 */
  @apply absolute left-0 top-0;
  @apply font-mono text-whu-blue ;
  
  /* 这里的 decimal-leading-zero 会生成 01, 02 这种极具学术排版感的格式 */
}